.mainDiv {
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
}
.title {
  margin-top: 62px;
  flex: 1;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 140.69%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  color: #30444e;
}
.image {
  flex: 1;
  margin-bottom: 10px;
  padding: 0;
  margin-bottom: 0px;
}
.redBorder {
  width: 1440px;
  height: 17px;
  left: 0px;
  top: 505px;

  background: #ee4248;
}
.manajmenTitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 140.69%;
  color: #263238;
  font-weight: bold;
  margin-bottom: 76px;
  margin-top: 37px;
}
.vector {
  object-fit: contain;
}
.media {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.cardItem {
  background: #ffffff;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  width: 230px;
  height: 284px;
}
.cardItemRightMargin {
  background: #ffffff;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  width: 230px;
  height: 284px;
  margin-right: 25px;
}
.cardItemMarginBothSides {
  background: #ffffff;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  width: 230px;
  height: 284px;
  margin-right: 25px;
  margin-left: 25px;
}
.cardItemLeftMargin {
  background: #ffffff;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  width: 230px;
  height: 284px;
  margin-left: 25px;
}
.cardTitle {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #ee4248;
  margin-top: 7px;
}
.name {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.1px;
  color: #252b42;
}
.picture {
  margin-top: 30px;
}
.cardItems {
  display: flex;
  justify-content: center;
  padding-bottom: 53px;
}
.cardItems1 {
  display: flex;
  justify-content: center;
  padding-bottom: 53px;
  margin-bottom: 50px;
}
.cardItemManajemen1 {
  background: #ffffff;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  width: 230px;
  height: 284px;
  margin-right: 100px;
}
.cardItemManajemen2 {
  background: #ffffff;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  width: 230px;
  height: 284px;
  margin-left: 100px;
}
.consultantDiv {
  background-color: #f7f7f7;
  padding-top: 37px;
  padding-bottom: 10px;
  margin-bottom: 50px;
}
.consultantTitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 140.69%;
  color: #263238;
  font-weight: bold;
  margin-bottom: 76px;
}
.mobileDiv {
  margin-bottom: 50px;
}
.javaDiv {
  padding-top: 37px;
  background-color: #f7f7f7;
  margin-bottom: 97px;
}
.cardItems2 {
  display: flex;
  justify-content: center;
  padding-bottom: 53px;
  margin: 50px;
}
@media (max-width: 1000px) {
  .container {
    width: 100vw;
  }
  .title {
    margin: auto;
    margin-top: 62px;
    flex: 1;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 140.69%;
    width: 311px;

    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    color: #30444e;
  }

  .image1 {
    width: 260.32px;
    height: 146px;
  }
  .redBorder {
    width: 100vw;
    height: 17px;
    left: 0px;
    top: 505px;
    background: #ee4248;
  }
  .managementDiv {
  }
  .cardItemManajemen1 {
    background: #ffffff;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    width: 230px;
    height: 284px;
    margin-right: unset;
    margin: 32px;
  }
  .cardItemManajemen2 {
    background: #ffffff;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    width: 230px;
    height: 284px;
    margin-left: unset;
  }
  .cardItems1 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .manajmenTitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 140.69%;
    color: #263238;
    font-weight: bold;
    margin-bottom: 50px;
    margin-top: 38px;
  }
}
