.container {
  width: 1400px;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.vector {
  margin: 0px auto;
}
.quote {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  text-align: center;
  color: #263238;
  padding: 74px 0px;
}
.color {
  color: red;
  font-weight: bold;
}
.border {
  position: absolute;
  width: 1400px;
  z-index: -1;
  margin-top: 40px;
  margin-bottom: 200px;
}
.grayBackground {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 1400px;
  position: absolute;
  z-index: -1;
}
.ourService {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 1126px;
  height: 776px;
  padding-top: 100px;
}
.text {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 133.69%;
  color: #1f2e35;
}
.paragraph {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 150%;
  color: #30444e;
  width: 500px;
  height: 650px;
  margin-top: 80px;
  margin-right: 10px;
}
.chatImage {
  display: flex;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 80px;
  margin-left: 10px;
  height: 549px;
  left: 577px;
  margin: auto;
}
@media (max-width: 1000px) {
  .container {
    width: 100vw;
    margin: 0px;
  }
  .border {
    display: none;
  }
  .grayBackground {
    display: none;
  }
  .grayBackgroundMobile {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100vw;
    position: absolute;
    z-index: -1;
  }
  .quote {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 133.69%;
    width: 300px;
    height: 192px;
    text-align: center;
    padding: unset;
    color: #263238;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 15px;
  }
  .color {
    color: red;
    font-weight: bold;
    width: 300px;
  }
  .ourService {
    display: flex;
    flex-direction: column-reverse;
    display: flex;
    justify-content: start;
    width: 100vw;
    height: unset;
    padding-top: unset;
  }
  .chatImage1 {
    width: 100vw;
    max-width: 385.99px;
    display: unset;
    object-fit: contain;
  }

  .title {
    margin: 25px;
    text-align: start;
  }
  .titleLine {
    margin-left: 0px;
  }
  .paragraph {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    color: #30444e;
    max-width: 357px;
    margin: 25px;
    height: unset;
    text-align: start;
    margin-bottom: 40px;
  }
}
