.container {
  width: 100%;
  width: 1400px;
}
.background {
  position: relative;
  z-index: -1;
}
.mainDiv {
  margin-bottom: 90px;
}
.text {
  position: absolute;
  top: 171px;
  width: 1440px;

  text-align: center;

  color: #ffffff;
}
.divTitle {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 140.69%;
  margin-bottom: 24px;
}
.button {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 29px;
  text-align: center;

  background: #ffffff;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  width: 166px;
  height: 53px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #ee4248;
}
.macbookPic {
  object-fit: contain;
  margin-top: 58px;
  margin-bottom: 31px;
}
.logos {
  display: flex;
  margin-left: 277px;
  margin-right: 277px;
  justify-content: space-between;
  margin-bottom: 31px;
}
.logo {
  object-fit: contain;
}
.Title {
  display: flex;
  flex-direction: column;
  text-align: left;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 140.69%;
  color: #263238;
  font-weight: bold;
  margin-bottom: 50px;
  margin-top: 50px;
}
.vector {
  object-fit: contain;
  align-self: flex-start;
}
.ourTechnologyDiv {
  margin-left: 156px;
  margin-right: 156px;
}
.paragraph {
  margin: 15px 0px;
}
.technologyText {
  margin-top: 15px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 140.69%;
  /* or 25px */
  text-align: justify;

  color: #263238;
}
