.s {
  background-color: #eeecec;
}
.container {
  max-width: 1400px;
  display: flex;
  flex-direction: row;
  margin: auto;
}
.desk {
  flex: 1;
}

.deskImg {
  object-fit: contain;
  max-width: 453px;
  margin-top: 60px;
  margin-bottom: 80px;
}
.text {
  font-family: "Roboto", sans-serif;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: start;
  width: 520px;
}
.multicolorTitle {
  margin-bottom: 24px;
}
.black {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 133.69%;
  color: #1f2e35;
  margin-right: 10px;
  text-align: left;
}
.red {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 133.69%;
  color: #ee4248;
}
.redTitle {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 133.69%;
  color: #ee4248;
}
.description {
  width: 520px;

  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 150%;
  color: #30444e;
}
.paragraph {
  margin-bottom: 20px;
}
@media (max-width: 1000px) {
  .s {
    width: 100vw;
    background-color: #eeecec;
  }
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f7f7f7;
  }
  .desk {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .deskImg {
    object-fit: contain;
    width: 349px;
    height: 340.54px;
    margin-top: 60px;
    margin-bottom: 80px;
  }
  .multicolorTitle {
  }
  .black {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 133.69%;
    color: #1f2e35;
    text-align: center;
  }
  .red {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 133.69%;
    color: #ee4248;
  }
  .redTitle {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 133.69%;
    color: #ee4248;
  }
  .text {
    display: unset;
    margin: auto;
    display: flex;
    flex-direction: column;

    max-width: 364px;
  }
  .description {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    color: #30444e;
    max-width: 364px;
    margin: auto;
    text-align: flex-start;
  }
}
