.grayDiv {
  min-height: 368px;
  background-color: rgba(242, 242, 242, 0.65);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.description {
  text-align: start;
  width: 700px;
  height: 206px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 140.69%;
  color: #30444e;
  margin-right: 0px;
}
.paragraph {
  text-align: start;
  margin-top: 58px;
  margin-left: 160px;
  margin-right: 135px;
}
.title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 140.69%;
  color: #263238;
}
.line {
  margin-bottom: 40px;
}
.text {
  width: 1145px;
  height: 475px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 140.69%;
  text-align: justify;
  margin-bottom: 44px;
}
.redFont {
  color: red;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 140.69%;
}
.futurePrespective {
  display: flex;
  flex-direction: row;
  background-color: rgba(242, 242, 242, 0.65);
  justify-content: center;
  margin-bottom: 48px;
  padding: 74px 0px;
}
.videoImage {
  margin-right: 98px;
}
.ourFutureParagraph {
  display: flex;
  flex-direction: column;
  width: 472px;
  height: 410px;
}
.ourFutureTitle {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 57px;
  letter-spacing: 0.2px;
  text-transform: capitalize;
  display: flex;
  flex-direction: column;
  text-align: start;
}
.ourFutureTitleMobile {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 57px;
  letter-spacing: 0.2px;
  text-transform: capitalize;
  display: flex;
  flex-direction: column;
  text-align: start;
  display: none;
}
.line2 {
  width: 88px;
  height: 10px;
}
.vision {
  display: flex;
  margin: 30px 0px;
}
.visionText {
  width: 438px;
  height: 112px;
  text-align: start;
  margin-left: 20px;
}
.visionTitle {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
  /* identical to box height, or 100% */
  letter-spacing: 0.1px;

  color: #263238;
}
.Text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #263238;
  margin: 16px 0px;
}
.mission {
  display: flex;
}
.cultureTitle {
  display: flex;
  flex-direction: column;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 140.69%;
  color: #ffffff;
}
.line22 {
  width: 88px;
  height: 10px;
}
.dsiCulture {
  background-color: #ee4248;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 48px 0px;
}
.cultureParagraph {
  width: 471px;
  text-align: start;
  color: white;
  margin-right: 98px;
}
.cultureText {
  width: 471px;
  height: 300px;
  left: 153px;
  top: 151px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 140.69%;

  text-align: justify;
}
.whiteDiv {
  margin: 47px;
  margin-bottom: 146px;
}
.contactTitle {
  display: flex;
  flex-direction: column;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 140.69%;
  justify-content: center;
  align-items: center;
  color: #263238;
}

.line3 {
  display: flex;
  justify-content: center;
  width: 88px;
  height: 10px;
}
.mapDiv {
  display: flex;
  margin-top: 38px;
  justify-content: space-around;
}
.smallDiv {
  display: flex;
}
.smallLogo {
  margin: auto;
}
.descriptionLogo {
  margin-left: 37px;
  height: 100%;
}
.mapText {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.titleLogo {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 46px;
  color: #1f2e35;
  text-align: start;
}
.textLogo {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  width: 354px;
  color: #30444e;
  text-align: center;
  text-align: start;
}
@media (max-width: 1000px) {
  .about {
    width: 100vw;
  }
  .grayDiv {
    min-height: 368px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
  }
  .description {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 133.69%;
    color: #30444e;
    width: 100vw;
    margin-right: 0px;
    margin-left: 0px;
  }
  .logo {
    width: 235px;
    height: 103px;
    margin-top: 25px;
  }
  .paragraph {
    margin: 25px;
    width: unset;
    height: unset;
    text-align: start;
    margin-top: 58px;
  }
  .title {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 29px;
    line-height: 140.69%;
    color: #263238;
  }
  .line {
    margin-bottom: 40px;
  }
  .text {
    width: unset;
    height: unset;
    margin-left: unset;
    margin-right: unset;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 140.69%;
    text-align: justify;
    margin: auto;
    margin-bottom: 44px;
  }
  .ourFutureParagraph {
    display: flex;
    flex-direction: column;
    min-width: 347px;
    height: unset;
    margin: auto;
  }
  .ourFutureTitleMobile {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 57px;
    letter-spacing: 0.2px;
    width: 332px;
    text-transform: capitalize;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin: auto;
    margin-bottom: 40px;
  }
  .line2 {
    width: 88px;
    height: 10px;
  }
  .ourFutureTitle {
    display: none;
  }
  .futurePrespective {
    display: flex;
    flex-direction: column;
    background-color: rgba(242, 242, 242, 0.65);
    justify-content: center;
    margin-bottom: 48px;
    padding: 74px 0px;
  }
  .videoImage {
    margin-right: unset;
    margin: auto;
    margin-bottom: 34px;
  }
  .Text {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #263238;
    margin: 16px 0px;
    text-align: justify;
  }
  .ourFutureVideoImage {
    width: 347px;
    height: 256px;
  }
  .dsiCulture {
    background-color: #ee4248;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 48px 0px;
    width: 100vw;
  }
  .cultureTitle {
    margin-bottom: 34px;
  }
  .cultureParagraph {
    display: unset;
    text-align: start;
    color: white;
    margin-right: unset;
    margin: auto;
    margin-bottom: 32px;
    height: unset;
    min-width: 470px;
  }
  .cultureParagraph1 {
    margin-bottom: 32px;
  }
  .cultureText {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 140.69%;

    text-align: justify;
  }
  .cultureVideoPic {
    width: 339px;
    height: 223px;
  }
  .mapDiv {
    background-color: blueviolet;
    display: flex;
    flex-direction: column;
    margin-top: 38px;
    justify-content: space-around;
  }
  .map {
    background-color: blue;
    width: 342px;
    height: 239.22px;
  }
  .smallDiv {
    display: flex;
  }
  .smallLogo {
    margin: auto;
  }
  .descriptionLogo {
    margin-left: 37px;
    height: 100%;
  }
  .mapText {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .titleLogo {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 46px;
    color: #1f2e35;
    text-align: start;
  }
  .textLogo {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    width: 354px;
    color: #30444e;
    text-align: center;
  }
}
