.section {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.description {
  width: 540px;
  text-align: left;
}
.quote {
  margin-top: 19px;
  margin-bottom: 19px;
}
.paragraph {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.2px;
  color: #373f41;
}
.signature {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.1px;
  color: #30444e;
  margin-top: 27px;
  margin-bottom: 16px;
}
@media (max-width: 1000px) {
  .section {
    background-color: turquoise;
    width: 100vw;
    display: flex;
    flex-direction: column;
  }
  .sectionImage {
    object-fit: contain;
    width: 313px;
    height: 218px;
    margin: auto;
  }
  .quote {
    margin-top: 19px;
    margin-bottom: 19px;
    width: 33px;
    height: 33px;
  }
  .paragraph {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 36px;
    letter-spacing: 0.2px;
    color: #373f41;
    width: 334px;
  }
  .description {
    background-color: thistle;
    width: 334px;
    margin: auto;
  }
}
