.container {
  width: 1400px;
}

.redDiv {
  width: 1400px;
  background-color: #ee4248;
  height: 327px;
  display: flex;
  justify-content: center;
  text-align: center;
}
.title {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  width: 745px;
  height: 192px;
  color: white;
  margin: auto;
}
.lineImage {
  object-fit: contain;
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100px;
}
.grayDiv {
  background-color: #f6f6f6;
  height: 36px;
}
.productParagraph {
  margin-top: 63px;
  margin-bottom: 27px;
  display: flex;
  flex-direction: row;
  height: 530px;
  display: flex;
}
.flex {
  display: flex;
  flex-direction: row;
  margin: auto;
}
.ourProductTitle {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 10px;
}
.text {
  text-align: start;
}
.paragraph {
  height: 358px;
  width: 500px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 150%;
  color: #30444e;
}
.paragraph1 {
  margin-bottom: 30px;
}
.computer {
  margin: auto;
  margin-left: 51px;
  height: 338px;
  width: 575px;
}
.lineImage2 {
  object-fit: contain;
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100px;
}
@media (max-width: 1000px) {
  .container {
    width: 100vw;
    height: 100%;

    margin-bottom: 300px;
  }
  .title {
    width: 100vw;

    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    height: unset;
    color: white;
    text-align: center;
    margin: auto;
  }
  .redDiv {
    width: 100vw !important;
  }
  .flex {
    width: 100vw;
    display: flex;
    flex-direction: column-reverse;

    height: unset;
  }
  .paragraph {
    width: 100vw;

    height: unset;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    color: #30444e;
  }
  .ourProductTitle {
    margin-left: 25px;
    margin-right: 25px;
  }
  .paragraph1 {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    color: #30444e;
    margin-left: 25px;
    margin-right: 25px;
  }
  .lineImage2 {
    display: none;
  }
  .computer {
    margin: auto;
    object-fit: contain;
    width: 343px;
    height: 201.74px;
    margin-bottom: 38px;
  }
}
