.redDiv {
  background-color: #ee4248;
  height: 327px;
  display: flex;
  justify-content: center;
  text-align: center;
}
.title {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  width: 745px;
  height: 192px;
  color: white;
  margin: auto;
}
.grayDiv {
  background-color: #f6f6f6;
  height: 36px;
}
.productParagraph {
  margin: auto;
  margin-top: 63px;
  margin-bottom: 27px;
  display: flex;
  flex-direction: row;
  height: 530px;
  width: 1130px;
  display: flex;
  justify-content: center;
}
.ourProductTitle {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
}
.paragraph {
  height: 358px;
  width: 500px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 150%;
  color: #30444e;
}
.computer {
  margin: auto;
  margin-left: 51px;
  height: 338px;
  width: 575px;
}
